In [1]:
import pandas as pd
import os

In [2]:
lpo_grn_net_values = pd.read_csv(os.path.join("data", "lpo_grn_net_values.csv"))

In [3]:
total_employee_strength_data = pd.read_csv(os.path.join("data","total_employee_strength_data.csv"))
total_employee_strength_data['MONTH'] = total_employee_strength_data['MONTH'].str.strip().str.upper()

In [5]:
total_employee_strength_data[total_employee_strength_data['MONTH']=='DECEMBER'].groupby(['YEAR'])['STRENGTH'].sum()

YEAR
2008    2361
2009    2926
2010    3730
2011    3901
2012    5008
2013    6341
2014    8272
2015    9251
2016    6493
2017    5775
2018    5717
2019    4441
2020    3886
2021    3675
2022    4183
2023    3796
2024    3440
Name: STRENGTH, dtype: int64

In [ ]:
in_out_strength

In [13]:
visa_expiry = pd.read_csv(os.path.join("data","visa_expiry.csv"))

In [14]:
visa_expiry

    Employee_Type Employee_Category  Expiry_Year Expiry_Month  Total_by_Month
0       Permanent            LABOUR         2000          Aug                2
1       Permanent            LABOUR         2000          Jul                1
2       Permanent            LABOUR         2000          Jun                1
3       Permanent            LABOUR         2000          May                1
4       Permanent            LABOUR         2001          Jun                1
..            ...               ...          ...          ...              ...
751     Permanent             STAFF         2027          Apr                5
752     Permanent             STAFF         2027          Feb                2
753     Permanent             STAFF         2027          Jan                1
754     Permanent             STAFF         2525          Oct                1
755     Permanent            LABOUR         9200          Nov                1

[756 rows x 5 columns]